<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>
<body>
    <div style="padding-top: 5%;" class="flex flex-col items-center">
        <h1 class="blog-posts pb-16 pt-8 md:pb-4 md:pt-0" style="font-size: 3rem; line-height: 1; font-weight: bold;">{{ blog_template_title }}</h1>
        <div class="w-11/12 my-4 md:my-0 md:flex md:items-center md:h-screen md:w-3/4 lg:h-screen lg:w-3/5 lg:my-0 lg:flex lg:items-center">
            <div>
                <!-- grid timeline -->
                <div class="timeline mt-0 lg:mt-0">
                    {% for post in blogs %}
                    <!-- row i -->
                    <div class="date w-28 md:w-44">
                        <p>{{ post.posted }}</p>
                    </div>
                    <div class="line"></div>
                    <div style="font-weight: bold;" class="content ml-6 mb-12">
                        <h2 style="font-size: larger;"><a href="{{ post.url }}">{{ post.title }}</a></b></h2>
                        <p class="font-light">
                            {% if post.excerpt is defined and post.excerpt is not none %}
                                {{ post.excerpt }}
                            {% endif %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>