<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>
<body>
    <div class="flex flex-col items-center">
        <div class="w-11/12 my-4 h-screen my-0 flex items-center md:w-3/4 lg:w-1/2">
            <div>
                <!-- hero section -->
                <h1 class="text-6xl font-semibold">{{ owner.name }}</h1>
                <p class="text-xl font-light my-6">
                    {{ owner.bio }}
                </p>
                <!-- icons -->
                <div class="my-8" style="text-align:center">
                    {% if links.email is defined and links.email is not none %}
                    <a class="w-36 mr-12" href="mailto: {{ links.email }}" target="_blank"><i class="fa-solid fa-envelope fa-xl"></i></a>
                    {% endif %}
                    {% if links.github is defined and links.github is not none %}
                    <a class="w-36 mr-12" href="https://github.com/{{ links.github }}" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>
                    {% endif %}
                    {% if links.linkedin is defined and links.linkedin is not none %}
                    <a class="w-36 mr-12" href="https://www.linkedin.com/in/{{ links.linkedin }}/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                    {% endif %}
                    {% if links.telegram is defined and links.telegram is not none %}
                    <a class="w-36 mr-12" href="https://t.me/{{ links.telegram }}" target="_blank"><i class="fa-brands fa-telegram fa-xl"></i></a>
                    {% endif %}
                    {% if links.twitter is defined and links.twitter is not none %}
                    <a class="w-36" href="https://github.com/d-guo" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center">
        <div class="w-11/12 my-4 md:my-0 md:flex md:items-center md:h-screen md:w-3/4 lg:h-screen lg:w-1/2 lg:my-0 lg:flex lg:items-center min-h-[{{ 150 * timeline|length }}px]">
            <div>
                <!-- grid timeline -->
                <div class="timeline mt-12 lg:mt-20">
                    {% for job in timeline %}
                    <!-- row i -->
                    <div class="date">
                        {% if job.end is defined and job.end is not none %}
                            <p>{{ job.end }}</p>
                        {% else %}
                            <p>Present</p>
                        {% endif %}
                    </div>
                    <div class="line"></div>
                    <div class="content ml-6 mb-12">
                        <h2>{{ job.title }} at <b>{{ job.company }}</b></h2>
                        <p class="font-light">
                            {% if job.description is defined and job.description is not none %}
                                {{ job.description }}
                            {% endif %}
                            {% if job.description is defined and job.description is not none and job.start is defined and job.start is not none %}
                                <br>
                            {% endif %}
                            {% if job.start is defined and job.start is not none %}
                            <i>Started {{ job.start }}.</i>
                            {% endif %}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>